#SettingsView #settingsArea{
  padding-bottom: 15px;
}
#SettingsView .divider {
  padding-left: 15px;
  padding-right: 15px;
}
#SettingsView .divider{
  margin: 15px 0;
}
#SettingsView #navigator-bar .container {
  display: flex;
  align-items: center;
}
#SettingsView .nav{
  display: flex;
}
#SettingsView #navigator-bar {
  margin-bottom: 0px;
}
#SettingsView #navigator-bar .form-group {
  margin-bottom: 0px;
}
#SettingsView #navigator-bar .container .btn-group {
  float: right;
}
#SettingsView #poi-config .form-group {
  margin-bottom: 0px;
}
#SettingsView #poi-config #poi-resolutionr-config {
  display: flex;
  align-items: center;
}
#SettingsView #poi-others .avatar-img {
  cursor: pointer !important;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-top: 10px;
}
#SettingsView #poi-others .avatar-img:hover {
  transform: rotate(360deg);
  transition-duration: 3s;
}
