*,
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
{
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Noto Sans CJK SC Medium', 'Heiti SC', 'WenQuanYi Micro Hei', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Droid Sans Fallback', sans-serif;
}
::-webkit-scrollbar
{
    width: 0;
}
body
{
    font-size: 13px;
    line-height: 1.42857143;

    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;
}
.alert
{
    font-size: 12px;

    padding: 6px;
}
span,
img,
.panel-heading,
.table tbody tr td
{
    cursor: default;
    -webkit-user-select: none !important;
}
a,
button
{
    cursor: pointer;
}
hr
{
    display: none;

    margin-top: 0;
    margin-bottom: 0;
}
poi-app .container
{
    overflow-x: hidden;

    width: auto;
    padding-right: 0;
    padding-left: 0;
}
table
{
    table-layout: fixed;
}
.table tbody tr td
{
    font-size: 12px;

    overflow: hidden;

    padding: 4px 4px;

    white-space: nowrap;
    text-overflow: ellipsis;
}
.table tbody tr td .label
{
    /*color: #fff;*/
}

poi-app poi-nav-tabs nav ul li
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;

    flex: 1;
}
poi-app poi-nav-tabs nav ul li a
{
    text-align: center;
}
poi-app poi-nav-tabs nav ul.dropdown-menu
{
    min-width: 100%;
}
poi-app poi-nav-tabs nav li.dropdown
{
    overflow: inherit;
}
poi-info
{
    display: flex;
    height: 30px;
    align-items: stretch;
}
poi-alert
{
  flex: 1;
}
kan-game poi-info .alert
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 30px;
    margin: 0;
    padding: 6px 12px;
    border-radius: 0;
}
kan-game poi-map-reminder .alert
{
    width: 150px;
    color: #fff;
    background-color: #464545;
}
poi-control
{
    height: 100%;
    margin: 0;
}
poi-control .btn-sm
{
    font-size: 13px;

    height: 100%;
    border-radius: 0px;
    height: 30px;
    margin: 0;
}
poi-control button .fa
{
    width: 22px;

    cursor: pointer !important;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus
{
    outline: none !important;
}

.poi-tabs-container
{
    display: flex;
    flex-direction: column;
}
.poi-tabs-container > div
{
    flex: 1;
}
poi-app .tab-content
{
    padding: 12px 5px 0;
}

.poi-ship-cond-0.dark {  /* cond 0~19  */
  color: #DD514C;
  font-weight: bold;
}
.poi-ship-cond-20.dark { /* cond 20~29 */
  color: #F37B1D;
}
.poi-ship-cond-30.dark { /* cond 30~39 */
  color: #FFC880;
}
.poi-ship-cond-40.dark { /* cond 40~48 */

}
.poi-ship-cond-49.dark { /* cond 49 */

}
.poi-ship-cond-50.dark { /* cond 50~52 */
  color: #FFEE00
}
.poi-ship-cond-53.dark { /* cond 53~100 */
  color: #FFFF40;
  font-weight: bold;
}

.poi-ship-cond-0.light {  /* cond 0~19  */
  text-shadow: 0 0 3px #DD514C;
  font-weight: bold;
}
.poi-ship-cond-20.light { /* cond 20~29 */
  text-shadow: 0 0 3px #F37B1D;
}
.poi-ship-cond-30.light { /* cond 30~39 */
  text-shadow: 0 0 3px #FFC880;
}
.poi-ship-cond-40.light { /* cond 40~48 */

}
.poi-ship-cond-49.light { /* cond 49 */

}
.poi-ship-cond-50.light { /* cond 50~52 */
  text-shadow: 0 0 3px #FFEE00;
}
.poi-ship-cond-53.light { /* cond 53~100 */
  text-shadow: 0 0 3px #FFFF00;
  font-weight: bold;
}
